:root {
    --background-color: #FBFBFB;
    --block-color: #FFFFFF;
    --main-text-color: #020202;
    --else-text-color-50: #ACACAC;
    --else-text-color-33: #CCCCCC;
    --main-accent-color: #31A05E;
    --else-accent-color-1: #E3DFFF;
    --else-accent-color-2: #F7D488;
    --error-accent-color: #FF220C;
    --block-accent-color-110: #E6E6E6;
    --block-accent-color-06: #F0F0F0;
    --block-accent-color-210: #EFF5F2;
    --like-button-accent-color: #FFE9E7;
    --param-color: #533A7B;
    --posts-color: #4BA3C3;
    --back-posts-color: #DBEDF3;
    --likes-color: #FA198B;
    --back-likes-color: #FED1E8;
    --comments-color: #FFBA49;
    --back-comments-color: #FFF1DB;
    --shadow-big: 0 0 15px #02020207;
    --shadow-small: 0 0 12px #02020205;
    --shadow-popup: 0 0 9px #02020211;

    font-size: 62.5%;
    height: 100%
}

.all-chats>p:first-child {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin-bottom: 2.6rem;
}

.all-chats>p:first-child span {
    color: var(--else-text-color-50);
    margin-left: 1rem;
}

.search-chats-div {
    position: relative;
}

.all-chats ul {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    list-style: none;
    margin-top: 1.6rem;
}

.chat-with-user {
    height: calc(var(--vh, 1vh) * 100 - 2.6rem*2 - 7.2rem);
}

#success-load-chat {
    display: flex;
    gap: 0.625rem;
    flex-direction: column-reverse;
    height: calc(100% - 8.2rem - 8.8rem);
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1.6rem 2.1rem;
}

#success-load-chat.loading {
    align-items: center;
    justify-content: center;
}

#chat-loading {
    position: absolute;
    top: calc(50% - 1.7rem);
    left: calc(50% - 1.7rem);
    scale: 0;
    fill: var(--main-accent-color);
    min-width: 3.4rem;
    max-width: 3.4rem;
    min-height: 3.4rem;
    max-height: 3.4rem;
    transition: 0.2s;
    animation: loading 2s infinite ease-in-out;
}

#chat-loading.loading {
    scale: 100%;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.no-dialog,
.not-friend {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    text-align: center;
    max-width: 60%;
    color: var(--else-text-color-50);
    cursor: default;
}

.not-friend {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.not-friend p {
    max-width: none;
}

.user-info {
    height: 8.2rem;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    border-radius: 2rem;
    padding: 1.6rem 2.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__user-back {
    color: var(--error-accent-color);
    font-size: var(--font-size-2);
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    min-width: 2.8rem;
    min-height: 3.4rem;
    max-height: 3.4rem;
    display: flex;
    transition: 0.2s;
}

.chat__user-back:hover {
    background-color: var(--like-button-accent-color);
}

.chat__user-back svg {
    fill: var(--error-accent-color);
    transform: rotate(180deg);
    min-height: 11px;
    max-height: 11px;
}

.chat__other-user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chat__other-user-info img {
    max-width: 19px;
    max-height: 19px;
    min-height: 19px;
    min-width: 19px;
}

.chat__user-names {
    font-size: var(--font-size-3);
    color: var(--main-text-color);
    transition: 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 30rem;
}

.chat__user-names.trust {
    color: var(--main-accent-color);
}

.chat__user-names:hover {
    opacity: 80%;
}

.chat__user-avatar {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.2s;
}

.chat__user-avatar:hover {
    opacity: 80%;
}

.message {
    width: 80%;
    max-width: fit-content;
    padding: 1.1rem 1.6rem;
    font-size: var(--font-size-2);
    display: flex;
    flex-direction: column;
    gap: 0.39rem;
}

.message p {
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.message .send_date-time {
    font-size: var(--font-size-1);
    align-self: flex-end;
}

.send_date-day {
    color: var(--else-text-color-50);
    font-size: var(--font-size-1);
    align-self: center;
    text-transform: lowercase;
    margin: 1.6rem 0;
}

.message.your-message {
    margin-left: auto;
    background-color: var(--block-accent-color-06);
    border-radius: 1rem 1rem 0 1rem;
}

.message.your-message .send_date-time {
    color: var(--else-text-color-50);
}

.message.other-message {
    background-color: var(--block-accent-color-210);
    color: var(--main-accent-color);
    border-radius: 1rem 1rem 1rem 0;
}

.message.other-message .send_date-time {
    color: var(--else-text-color-50);
}

.status-and-date {
    display: flex;
    gap: 0.39rem;
}

.status-and-date svg {
    min-height: 11px;
    max-height: 11px;
    min-width: fit-content;
}

.status-and-date svg.not-read {
    fill: var(--else-text-color-50);
}

.status-and-date svg.has-read {
    fill: var(--main-accent-color);
}

.chat__new-message {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    z-index: 1;
    bottom: 2.6rem;
    background: linear-gradient(-135deg, var(--posts-color), var(--likes-color), var(--comments-color));
    box-shadow: var(--shadow-popup);
    border-radius: 2rem;
    padding: 0.39rem;
}

.chat__new-message.disabled {
    pointer-events: none;
    opacity: 50%;
    display: none;
}

.chat__new-message>p {
    font-size: var(--font-size-2);
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    margin-left: 1.1rem;
    color: var(--block-color);
}

.chat__new-message form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    transition: 0.2s;
    background-color: var(--block-color);
    border-radius: calc(2rem - 0.39rem);
}

.current-message-image-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.6rem;
    left: 1.6rem;
    box-shadow: var(--shadow-big);
}

#textarea-message {
    width: 100%;
    min-height: 4rem;
    max-height: 20rem;
    outline: none;
    background-color: transparent;
    padding: 1.25rem 2.6rem;
    padding-left: 2.6rem;
    padding-left: 1.6rem;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    scrollbar-width: none;
    overflow-y: auto;
    font-size: var(--font-size-2);
}

.chat__new-message.disabled #textarea-message {
    pointer-events: none;
}

#textarea-message_label {
    font-size: var(--font-size-2);
    color: var(--else-text-color-50);
    position: absolute;
    left: 1.6rem;
    top: 1.35rem;
    cursor: text;
    pointer-events: none;
}

#textarea-message_input {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

#message-image {
    position: absolute;
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

.messagearea-buttons {
    display: flex;
    align-items: center;
    padding: 0 0.6rem 0.6rem;
}

.message-image-icon {
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 2.8rem;
    min-height: 3.4rem;
    max-height: 3.4rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.message-image-icon.disabled {
    opacity: 50%;
    pointer-events: none;
}

.message-image-icon:hover {
    background-color: var(--block-accent-color-06);
}

.message-image-icon svg {
    min-height: 19px;
    max-height: 19px;
    min-width: 19px;
    max-width: 19px;
    fill: var(--main-accent-color);
}

.message-image-icon span {
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

.chat__new-message button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    pointer-events: none;
    transition: 0.2s;
    position: absolute;
    right: 0.6rem;
    bottom: 0.6rem;
    opacity: 0;
    transform: scale(50%) translateY(1rem);
}

.chat__new-message button.active {
    pointer-events: all;
    opacity: 1;
    transform: scale(100%);
}

.chat__new-message button.active svg {
    fill: var(--main-accent-color);
}

.chat__new-message button svg {
    fill: var(--else-text-color-33);
    min-width: 3.4rem;
    max-width: 3.4rem;
    min-height: 3.4rem;
    max-height: 3.4rem;
    transition: 0.2s;
}

.no-message-yet {
    color: var(--else-text-color-50);
}

.current-chat-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-name-and-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-name-and-status .status {
    position: absolute;
    top: calc(5.3rem + 1.6rem);
    left: calc(5.4rem + 2.6rem);
    transform: rotate(4deg);
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
}

.date-and-message-counter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.39rem;
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

.unread-messages {
    background-color: var(--main-accent-color);
    border-radius: 50%;
    padding: 0.39rem;
    color: var(--block-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 19px;
    min-width: 19px;
}

.chats_important-chats,
.chats_recent-chats {
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    padding: 0;
    list-style: none;
    margin-top: 1.6rem;
}

.important-chat,
.recent-chat {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 1rem 1.6rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--block-color);
}

.chats_important-chats li,
.chats_recent-chats li {
    overflow: hidden;
}

.chats_important-chats li:first-child,
.chats_recent-chats li:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.chats_important-chats li:last-child,
.chats_recent-chats li:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.important-chat:hover,
.recent-chat:hover {
    background-color: var(--block-accent-color-06);
}

.recent-chat.current {
    background-color: var(--block-accent-color-210);
}

.recent-chat.current .recent-main-name {
    color: var(--main-accent-color);
}

.important-chat img,
.recent-chat img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.important-chat__user-info,
.recent-chat__user-info {
    display: flex;
    flex-direction: column;
    gap: 0.39rem;
}

.recent-chat__user-name-and-status {
    display: flex;
    align-items: center;
    gap: 0.39rem;
}

.recent-chat__user-name-and-status .status {
    min-width: 19px;
    min-height: 19px;
    max-width: 19px;
    max-height: 19px;
}

.important-chat__user-info .main-name {
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--main-accent-color);
}

.recent-main-name {
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--main-text-color);
    text-overflow: ellipsis;
    max-width: calc(25rem - 40px - 1.6rem*2 - 1.1rem - 19px - 3.2rem - 0.625rem);
    white-space: nowrap;
    overflow: hidden;
}

.recent-main-name.trust {
    color: var(--main-accent-color);
}

@media (max-width: 820px) {
    #success-load-chat {
        height: calc(100% - 8.2rem - 8.8rem);
    }

    .chat__new-message {
        bottom: 1rem;
    }

    .chat__user-back {
        font-size: var(--font-size-1);
    }

    .main-section.chat {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .chat-with-user {
        height: calc(var(--vh, 1vh) * 100 - 1rem*2 - 7.2rem);
    }
}

@media (max-width: 720px) {
    .user-name-and-status .status {
        top: calc(3.3rem + 1.6rem);
        left: calc(3.4rem + 2.6rem);
        min-height: 19px;
        max-height: 19px;
        min-width: 19px;
        max-width: 19px;
    }

    .chat__user-names {
        max-width: 20rem;
    }
}

@media (max-width: 480px) {
    .chat__user-names {
        max-width: 15rem;
    }

    .user-name-and-status .status {
        top: calc(3.3rem + 1rem);
        left: calc(3.4rem + 1.6rem);
    }

    .all-chats > p:first-child {
        margin-left: 1.6rem;
    }
}