:root {
    --background-color: #FBFBFB;
    --block-color: #FFFFFF;
    --main-text-color: #020202;
    --else-text-color-50: #ACACAC;
    --else-text-color-33: #CCCCCC;
    --main-accent-color: #31A05E;
    --else-accent-color-1: #E3DFFF;
    --else-accent-color-2: #F7D488;
    --error-accent-color: #FF220C;
    --block-accent-color-110: #E6E6E6;
    --block-accent-color-06: #F0F0F0;
    --block-accent-color-210: #EFF5F2;
    --like-button-accent-color: #FFE9E7;
    --shadow-big: 0 0 15px #02020207;
    --shadow-small: 0 0 12px #02020205;
    --shadow-popup: 0 0 9px #02020211;

    font-size: 62.5%;
    height: 100%
}

.edit__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.1rem;
    width: 100%;
}

.edit__upload-avatar {
    position: absolute;
    top: 0;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 12.5rem;
}

.edit__form .edit__upload-avatar input {
    position: absolute;
    transform: scale(8);
    margin: 0;
    padding: 0;
    opacity: 0;
    top: 50%;
    cursor: pointer;
}

.edit__form label {
    font-size: var(--font-size-1);
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
}

.edit__form input {
    width: 100%;
    font-size: var(--font-size-3);
    min-height: 4rem;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--else-text-color-33);
    padding: 0 2.6rem;
    margin-top: 0.625rem;
}

.edit__form input:hover {
    border: 1px solid var(--else-text-color-50);
}

.edit__form input:focus {
    border: 1px solid var(--else-text-color-50);
}

.edit__form input::placeholder {
    color: var(--else-text-color-33);
}

.edit__form button {
    background-color: var(--main-accent-color);
    color: var(--block-color);
    border: none;
    font-size: var(--font-size-3);
    width: 100%;
    min-height: 4rem;
    border-radius: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__form button:hover {
    opacity: 87%;
}

.edit__user-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
}

.edit__user-info input.on {
    color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
}

.edit__user-info input.off {
    color: var(--error-accent-color);
    border: 1px solid var(--error-accent-color);
}

.edit__user-info .user-first-and-second-names {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.edit__user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-1);
    gap: 1.6rem;
    color: var(--main-accent-color);
}

.edit__user-avatar span {
    cursor: pointer;
}

.edit__user-avatar span:hover {
    opacity: 87%;
}

#reg__lable_id.blocked {
    pointer-events: none;
    cursor: default;
    color: var(--else-text-color-50);
}

#reg__lable_id.blocked input {
    color: var(--else-text-color-50);
}

.edit__user-info #reg__lable_id:has(input[id='reg__id']) {
    position: relative;
}

.edit__user-info #reg__lable_id:has(input[id='reg__id']) div {
    width: 100%;
    padding: 0 2.6rem;
    display: inline-flex;
    position: absolute;
    top: 6.9rem;
    left: 0;
}

.edit__user-info #reg__lable_id:has(input[id='reg__id']) input {
    padding-left: 4.2rem;
}

.edit__user-info #reg__lable_id:has(input[id='reg__id']) .at {
    position: absolute;
    display: block;
    font-size: var(--font-size-3);
    top: calc(50% + 0.1rem);
    color: var(--else-text-color-50);
    left: 2.6rem;
    pointer-events: none;
}

.edit__form:has(.off) button {
    pointer-events: none;
    background-color: var(--else-text-color-50);
    cursor: default;
}

.edit-filter__choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.edit-filter-popup-li input[type="radio"] {
    display: none;
}

.edit-filter-popup-li {
    display: flex;
    width: 100%;
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--else-text-color-50);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    font-size: var(--font-size-2);
    gap: 0.39rem;
    font-weight: 600;
}

.edit-filter-popup-li:has([type="radio"]:checked) {
    color: var(--main-accent-color);
    background-color: var(--block-accent-color-210);
    box-shadow: var(--shadow-small);
}

.edit-filter-popup-li span {
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

@media(max-width: 1080px) {
    .edit__upload-avatar {
        width: 20rem;
        height: 20rem;
        border-radius: 10rem;
    }
}

@media (max-width: 720px) {
    :root {
        --font-size-3: 1.6rem;
        --font-size-4: 2.4rem;
    }

    .edit__user-info #reg__lable_id:has(input[id="reg__id"]) .at {
        top: calc(50% + 0.2rem);

    }

    .edit__user-info #reg__lable_id:has(input[id="reg__id"]) input {
        padding-left: 4rem;
    }
}

@media (max-width: 580px) {
    .edit__user-info .user-first-and-second-names {
        flex-direction: column;
        gap: 1.6rem;
    }
}