@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/Unbounded-Black.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Cygre-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Cygre-SemiBold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Cygre-Bold.woff') format('woff');
}

/* @font-face {
    font-display: swap;
    font-family: 'TTInterface';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/TTInterphasesProTrial-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'TTInterface';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/TTInterphasesProTrial-Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'TTInterface';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/TTInterphasesProTrial-DemiBold.woff2') format('woff2');
} */

* {
    box-sizing: border-box;
}

:root {
    --background-color: #FBFBFB;
    --block-color: #FFFFFF;
    --main-text-color: #020202;
    --else-text-color-50: #ACACAC;
    --else-text-color-33: #CCCCCC;
    --main-accent-color: #31A05E;
    --else-accent-color-1: #E3DFFF;
    --else-accent-color-2: #F7D488;
    --error-accent-color: #FF220C;
    --block-accent-color-110: #E6E6E6;
    --block-accent-color-06: #F0F0F0;
    --block-accent-color-210: #31A05E10;
    --like-button-accent-color: #FF220C10;
    --like-button-hover-color: #FF220C14;
    --shadow-big: 0 0 15px #02020207;
    --shadow-small: 0 0 12px #02020205;
    --shadow-popup: 0 0 9px #02020211;
    --font-size-1: 1.3rem;
    --font-size-2: 1.4rem;
    --font-size-3: 1.8rem;
    --font-size-4: 3.2rem;

    font-size: 62.5%;
    height: 100%
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: calc(7.2rem + 2.6rem);
}

.wrapper {
    max-width: calc(100% - 10rem);
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    font-size: var(--font-size-3);
    letter-spacing: 0.39px;
    color: var(--main-text-color);
    line-height: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    background-color: var(--block-color);
    border-radius: 2rem 2rem 0 0;
    font-size: var(--font-size-1);
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2.275rem 5rem;
    color: var(--else-text-color-33);
    box-shadow: var(--shadow-big);
    align-items: center;
}

footer p {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--block-color);
    box-shadow: var(--shadow-big);
    border-radius: 0 0 2rem 2rem;
    color: var(--main-accent-color);
    padding: 2.1rem 5rem;
    align-items: center;
    font-size: var(--font-size-1);
    position: sticky;
    top: 0;
    z-index: 999;
    gap: 11.6rem;
}

header .phone-link {
    display: flex;
    gap: 1rem;
    align-items: end;
    font-family: 'Unbounded';
    font-weight: 900;
    color: var(--main-text-color);
    font-size: 2.4rem;
}

header .phone-link img {
    border-radius: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
}

header img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

header div {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

header div a {
    color: var(--main-accent-color);
}

header div a:hover {
    color: var(--main-text-color);
}

.header__avatar {
    display: flex;
}

main {
    flex: 1 0 auto;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: var(--font-size-1);
    transition: 0.2s;
    line-height: 1;
    color: var(--else-text-color-50);
}

.title {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.reg__form button.disabled {
    pointer-events: none;
    background-color: var(--else-text-color-33);
}

button {
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-3);
    color: var(--main-text-color);
    transition: 0.2s;
    cursor: pointer;
}

input {
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--main-text-color);
    transition: 0.2s;
    line-height: 1;
}

textarea {
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--main-text-color);
    transition: 0.2s;
    line-height: 1;
}

::placeholder {
    font-family: 'Cygre';
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
    line-height: var(--font-size-1);
    vertical-align: middle;
}

.auth__section,
.reg__section {
    max-width: 82.1rem;
    height: max-content;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    border-radius: 2rem;
    padding: 4.1rem;
    display: flex;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    align-items: center;
    gap: 4.1rem;
}

.div-line {
    width: 100%;
    height: 1px;
    background-color: var(--block-accent-color-110);
}

.auth__section>.div-line {
    width: 1px;
    height: calc(52.7rem - 8.2rem);
}

.reg__section .div-line {
    width: 1px;
    height: calc(52.7rem - 17rem);
}

.auth__section img {
    height: 25rem;
    width: 25rem;
    margin: 0 3.5rem;
}

.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(52.7rem - 8.2rem);
    width: 100%;
}

.reg__form {
    width: 100%;
}

.auth__form legend,
.reg__form legend {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 6.6rem;
}

.auth__form label,
.reg__form label {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 3.8rem;
    width: 100%;
}

.auth__form input,
.reg__form input {
    width: 100%;
    min-height: 4rem;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--else-text-color-33);
    padding: 0 2.6rem;
    margin-top: 0.8rem;
}

.auth__form input:hover,
.reg__form input:hover {
    border: 1px solid var(--else-text-color-50);
}

.auth__form input:focus,
.reg__form input:focus {
    border: 1px solid var(--else-text-color-50);
}

.auth__form input:valid,
.reg__form #reg__email:valid {
    border: 1px solid var(--main-accent-color);
    color: var(--main-accent-color);
}

.reg__form #reg__email:invalid {
    border: 1px solid var(--else-text-color-50);
    color: var(--main-text-color);
}

.auth__form input::placeholder,
.reg__form input::placeholder {
    color: var(--else-text-color-33);
}

.auth__form button,
.reg__form button {
    background-color: var(--main-accent-color);
    color: var(--block-color);
    border: none;
    font-size: var(--font-size-3);
    width: 100%;
    min-height: 4rem;
    border-radius: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__form button:hover,
.reg__form button:hover {
    opacity: 87%;
}

.auth__links,
.reg__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.6rem;
    color: var(--else-text-color-50);
}

.auth__links a:hover,
.reg__input-div a:hover {
    color: var(--else-text-color-33);
}

.reg__form>div {
    display: flex;
    gap: 2.6rem;
}

.reg__input-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    max-width: calc((100% - 4.2rem - 1px)/2);
}

.reg__input-div a {
    margin-top: 2.7rem;
    color: var(--else-text-color-50);
}

.reg__input-div a.mobile {
    display: none;
}

.reg__input-div span {
    font-size: var(--font-size-1);
    color: var(--else-text-color-33);
    transition: 0.2s ease-in-out;
}

#reg__lable_id span,
#reg__lable_email span {
    display: none;
    color: var(--main-accent-color);
    margin-left: auto;
}

#reg__lable_id span.show,
#reg__lable_email #reg__email:valid+div span.show {
    display: block;
}

#reg__lable_id span.off,
#reg__lable_email span.off {
    color: var(--error-accent-color);
}

.reg__form input.off,
#reg__lable_email #reg__email.off {
    color: var(--error-accent-color);
    border: 1px solid var(--error-accent-color);
}

.reg__form input.on {
    color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
}

.reg__input-div span.done {
    color: var(--main-accent-color);
}

.reg__input-div div {
    width: 100%;
    padding: 0 2.6rem;
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    top: 7.8rem;
    left: 0;
}

#reg__label_pass-1,
#reg__lable_id,
#reg__lable_email {
    position: relative;
}

#reg__label_pass-2 {
    margin-top: 2rem;
}

.main-section {
    display: flex;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
}

.first-part {
    width: 100%;
    max-width: 25rem;
    margin-right: 2.6rem;
    flex-shrink: 2;
    height: calc(100vh - 2.6rem*2 - 7.2rem);
    position: sticky;
    top: calc(2.6rem + 7.2rem);
}

.first-part ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    border-radius: 2rem;
    padding: 1rem;
    height: 100%;
    min-height: 50rem;
}

.third-part>div {
    position: sticky;
    top: calc(2.6rem + 7.2rem);
}

.first-part a {
    font-size: var(--font-size-3);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 1.6rem;
    color: var(--else-text-color-50);
    min-width: 10rem;
    padding: 1.6rem 2.1rem;
}

.first-part li {
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.2s;
}

.first-part li svg:first-child {
    max-height: 19px;
    max-width: 24px;
}

.first-part li svg path {
    fill: var(--else-text-color-50);
}

.first-part li svg.pointer {
    min-height: 11px;
    max-height: 11px;
    fill: var(--else-text-color-50);
    margin-left: auto;
    transition: 0.2s;
    opacity: 0;
}

.first-part li:hover svg.pointer {
    opacity: 1;
}

.first-part li svg.pointer path {
    stroke-width: 0;
    stroke: transparent;
}

.first-part li:hover {
    background-color: var(--block-accent-color-06);
}

.first-part li:has(#exit) {
    margin-top: auto;
}

#exit {
    color: var(--error-accent-color);
}

.first-part #exit:hover {
    background-color: var(--like-button-accent-color);
}

.first-part li #exit svg path {
    stroke-width: 1.5px;
    stroke: var(--error-accent-color);
    fill: transparent;
}

#active {
    background-color: var(--block-accent-color-210);
    box-shadow: var(--shadow-small);
}

#active svg path {
    fill: var(--main-accent-color);
}

#active a {
    color: var(--main-accent-color);
}

.second-and-third-parts {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-shrink: 1;
}

.second-part {
    max-width: 86rem;
    width: 100%;
}

.third-part {
    width: 100%;
    max-width: 25rem;
    margin-left: 2.6rem;
}

.post-buttons {
    display: flex;
    gap: 1.6rem;
    margin-top: 2.1rem;
    margin-bottom: 1.6rem;
}

.like-button,
.comment-button {
    background-color: transparent;
    border: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--else-text-color-50);
    font-weight: 600;
    gap: 0.39rem;
    max-width: max-content;
    transition: 0.2s;
}

.like-button.unliked:hover svg,
.comment-button:hover svg {
    opacity: 80%;
}

.like-button.liked:hover {
    opacity: 80%;
    ;
}

.like-button:active,
.comment-button:active {
    transform: scale(95%);
}

.like-button span,
.comment-button span {
    line-height: 1.9rem;
    font-size: var(--font-size-2);
    font-weight: 700;
}

.like-button.liked svg {
    animation: like-post 1s;
}

.menu-profile {
    position: relative;
}

/* .first-part li:has(.menu-profile) {
    margin-bottom: 3.1rem;
} */

.menu-profile div {
    display: flex;
    gap: 0.39rem;
    flex-direction: column;
}

.menu-profile div p:first-child {
    color: var(--main-text-color);
    font-weight: 600;
    text-overflow: ellipsis;
    width: calc(23rem - 50px - 1.6rem*3);
    white-space: nowrap;
    overflow: hidden;
}

.menu-profile div p:last-child {
    color: var(--main-accent-color);
    font-size: var(--font-size-1);
}

.menu-profile .menu-avatar {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-profile .menu-status {
    min-height: 24px;
    min-width: 24px;
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    top: 1.1rem;
    left: 1.6rem;
}

@keyframes like-post {
    from {
        transform: scale(100%);
    }

    20% {
        transform: scale(95%);
    }

    40% {
        transform: scale(125%);
    }

    to {
        transform: scale(100%);
    }
}

.like-button svg,
.comment-button svg {
    width: 24px;
    height: 19px;
    stroke: var(--else-text-color-50);
    fill: transparent;
    stroke-width: 2px;
    transition: 0.2s;
}

.liked {
    color: var(--error-accent-color);
}

.liked svg {
    fill: var(--error-accent-color);
    stroke: transparent;
}

.hide {
    display: none;
}

.third-part-in-header {
    display: none;
}

.user-post:target {
    animation: scrollPost 1s 0.5s;
}

.friend-buttons-div {
    display: flex;
    align-items: center;
    margin-top: 2.6rem;
    gap: 1.6rem;
}

#add-to-friends,
#unrequest-from-friends {
    margin: 0;
}

#unrequest-from-friends {
    font-size: var(--font-size-1);
}

.friend-buttons {
    min-height: 4rem;
    cursor: pointer;
    margin-top: 2.6rem;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-radius: 2rem;
    color: var(--block-color);
    background-color: var(--main-accent-color);
    max-width: max-content;
    transition: 0.2s;
}

.friend-buttons:hover {
    opacity: 80%;
}

.friend-buttons:active {
    transform: scale(95%);
}

#you-are-friends:hover,
#delete-from-friends:hover {
    opacity: 100%;
}

#you-are-friends:active,
#delete-from-friends:active {
    transform: scale(100%);
}

#unrequest-to-friends,
#unrequest-from-friends {
    padding: 0;
    background-color: transparent;
    color: var(--error-accent-color);
}

#delete-from-friends {
    color: var(--error-accent-color);
    margin: 0;
    min-height: inherit;
    border-radius: 0;
    max-width: none;
}

#delete-from-friends.friend-buttons.hide {
    display: none;
}

.friend-buttons.hide,
.friend-buttons-div.hide {
    display: none;
}

.notification-in-menu {
    margin-left: auto;
    font-size: var(--font-size-2);
    color: var(--else-text-color-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

#active .notification-in-menu {
    color: var(--main-accent-color);
}

.show-three-dots-popup {
    max-width: 19px;
    max-height: 6px;
    min-width: 19px;
    min-height: 6px;
    pointer-events: none;
}

.div-show-three-dots-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 28px;
    max-height: 28px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.div-show-three-dots-popup.in-profile {
    margin-left: auto;
    align-self: flex-start;
}

.div-show-three-dots-popup:hover {
    background-color: var(--block-accent-color-06);
}

.menu-title {
    font-size: var(--font-size-3);
    padding-left: 2.1rem;
    margin: 1.6rem 0 0.6rem;
    font-weight: 600;
}

@keyframes scrollPost {
    from {
        background-color: var(--block-color);
    }

    33% {
        background-color: var(--block-accent-color-110);
    }

    to {
        background-color: var(--block-color);
    }
}

@media (max-width: 1080px) {
    .friend-buttons {
        font-size: var(--font-size-1);
    }
}

@media (max-width: 920px) {
    main {
        padding: 0 5rem;
    }

    .auth__section img {
        display: none;
    }

    .auth__section>.div-line,
    .reg__section .div-line {
        display: none;
    }

    .reg__form>div {
        flex-direction: column;
        gap: 0;
    }

    .reg__input-div {
        max-width: none;
    }

    .reg__input-div a.mobile {
        display: flex;
    }

    .reg__input-div a.desktop {
        display: none;
    }

    .reg__form button {
        margin-top: 2.8rem;
    }

    header .phone-link span {
        display: none;
    }
}

@media (max-width: 720px) {
    header {
        padding: 2.1rem 2.5rem;
    }

    footer {
        padding: 2.275rem 2.5rem;
    }

    main {
        padding: 0 2.5rem;
    }

    .auth__form legend,
    .reg__form legend {
        margin-bottom: 4.1rem;
    }

    .auth__form {
        min-height: 0;
    }

    .auth__form button {
        margin-top: 2.8rem;
    }

    .auth__section,
    .reg__section {
        padding: 2.6rem;
    }

    header div a {
        display: none;
    }

    .post-buttons {
        margin: 2.6rem 0 1.6rem;
    }

    /* .like-button span, .comment-button span {
        line-height: 1.7rem;
        padding-bottom: 0.3rem;
    } */
}

@media (max-width: 480px) {
    main {
        padding: 0 1.6rem;
    }

    header {
        padding: 2.1rem 1.6rem;
    }

    footer {
        padding: 2.275rem 1.6rem;
    }

    .reg__input-div div {
        gap: 0.75rem;
    }

    #reg__label_pass-2 {
        margin-top: 6.1rem;
    }
}