:root {
    --background-color: #FBFBFB;
    --block-color: #FFFFFF;
    --main-text-color: #020202;
    --else-text-color-50: #ACACAC;
    --else-text-color-33: #CCCCCC;
    --main-accent-color: #31A05E;
    --else-accent-color-1: #E3DFFF;
    --else-accent-color-2: #F7D488;
    --error-accent-color: #FF220C;
    --block-accent-color-110: #E6E6E6;
    --block-accent-color-06: #F0F0F0;
    --block-accent-color-210: #EFF5F2;
    --param-color: #533A7B;
    --posts-color: #3891A6;
    --likes-color: #DB5461;
    --comments-color: #D5A021;
    --like-button-accent-color: #FFE9E7;
    --shadow-big: 0 0 15px #02020207;
    --shadow-small: 0 0 12px #02020205;
    --shadow-popup: 0 0 9px #02020211;

    font-size: 62.5%;
    height: 100%
}

.third-part-in-header {
    display: none;
}

.search-people-div {
    position: relative;
}

.second-part #icon-search-people {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
}

.second-part input {
    width: 100%;
    min-height: 4rem;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--else-text-color-33);
    padding: 0 2.6rem 0 calc(19px + 1.6rem + 1rem);
    margin: 0;
}

.people {
    display: none;
}

.people__users {
    width: 100%;
    position: relative;
}

.people__users ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1.6rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.6rem 2.6rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    background-color: var(--block-color);
}

.requests.user {
    cursor: auto;
}

.user:hover {
    background-color: var(--block-accent-color-06);
}

.user.requests:hover {
    background-color: var(--block-color);
}

.user:first-child {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    /* padding-top: 2.6rem; */
}

.user:last-child {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    /* padding-bottom: 2.6rem; */
}

.people__current-user {
    margin-top: 2.6rem;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    padding: 2.6rem;
    border-radius: 2rem;
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
}

.people__current-user:hover {
    background-color: var(--block-accent-color-06);
}

.current-user-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: var(--font-size-1);
    color: var(--main-accent-color);
}

.current-user-info p:first-child {
    font-weight: 600;
    color: var(--main-text-color);
    font-size: var(--font-size-3);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: calc(100vw - 25rem*2 - 10rem - 2.6rem*2 - 2.6rem*2 - 75px - 1.6rem*2 - 15rem);
}

.requests .current-user-info p {
    cursor: pointer;
}

.current-user-info p.trust {
    color: var(--main-accent-color);
}

.current-user-info .status {
    position: absolute;
    top: calc(5.3rem + 1.6rem);
    left: calc(5.4rem + 2.6rem);
    transform: rotate(4deg);
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
}

.requests .current-user-info p:hover {
    opacity: 80%;
}

.people__current-user .other-user-avatar {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    border-radius: 3.75rem;
    object-fit: cover;
}

.user .other-user-avatar {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    border-radius: 3.75rem;
    object-fit: cover;
}

.user.requests img {
    cursor: pointer;
}

.friends__users ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.friends__users>p:first-child {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin-bottom: 2.6rem;
}

.friends__users>p:first-child span {
    color: var(--else-text-color-50);
    margin-left: 1rem;
}

.friend-buttons-div {
    margin: 0;
    margin-left: auto;
}

.answer-to-request-div {
    position: relative;
    margin-left: auto;
    max-width: max-content;
}

.profile__user-info .answer-to-request-div {
    margin: 2.6rem 0 0;
}

.answer-to-request.you-are-friends {
    color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
    background-color: var(--block-accent-color-210);
}

.answer-to-request.not-friends {
    color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
}

.answer-to-request.you-are-friends svg {
    fill: var(--main-accent-color);
}

.answer-to-request {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: var(--else-text-color-50);
    font-size: var(--font-size-1);
    border: 1px solid var(--else-text-color-50);
    background-color: var(--block-color);
    border-radius: 5rem;
    padding: 1rem 1.6rem;
    transition: 0.2s;
    z-index: 7;
    max-width: max-content;
}

.answer-to-request:hover,
.answer-to-request:active {
    gap: 1rem;
}

.answer-to-request.show {
    gap: 2.6rem;
    padding: 1rem 1.6rem 1rem 1.6rem;
}

.answer-to-request.hide {
    display: none;
}

.answer-to-request.unrequested {
    pointer-events: none;
}

.answer-to-request.unrequested svg {
    display: none;
}

.answer-to-request.show svg {
    transform: rotate(90deg);
}

.answer-to-request svg {
    min-height: 10px;
    max-height: 10px;
    fill: var(--else-text-color-50);
    transition: 0.2s;
}

.answer-to-requests-popup {
    font-size: var(--font-size-1);
    border-radius: 1.73rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    border: 1px solid var(--else-text-color-50);
    z-index: 6;
    background-color: var(--block-color);
    overflow: hidden;
    animation: hidePopupRequest 0.2s;
}

.answer-to-requests-popup.show {
    animation: showPopupRequest 0.2s;
    visibility: visible;
}

@keyframes showPopupRequest {
    from {
        opacity: 0;
        transform: scale(0%) translate(0%, -50%);
    }

    to {
        opacity: 1;
        transform: scale(100%) translate(0, 0);
    }
}

@keyframes hidePopupRequest {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.answer-to-requests-popup-li {
    display: block;
    width: 100%;
    padding: 1rem 1.6rem;
    text-transform: none;
    color: var(--main-accent-color);
    background-color: var(--block-color);
    cursor: pointer;
}

.answer-to-requests-popup-li.unrequest {
    color: var(--error-accent-color);
}

.answer-to-requests-popup-li:hover {
    background-color: var(--block-accent-color-210);
}

.answer-to-requests-popup-li.unrequest:hover {
    background-color: var(--like-button-accent-color);
}

.answer-to-requests-popup-li:first-child {
    padding-top: 4.46rem;
}

.answer-to-requests-popup-li:last-child {
    padding-bottom: 1rem;
}

.friend-status {
    fill: var(--else-text-color-33);
    margin-left: auto;
}

.people__top-users {
    cursor: pointer;
}

.people__top-users .top-title {
    padding: 1.6rem 2.6rem 0;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}

.people__top-users .top-title svg {
    fill: var(--else-text-color-50);
    margin-left: auto;
    margin-right: 0.2rem;
    transition: 0.2s;
}

.people__top-users .top-title:hover svg {
    margin-right: 0;
}

.people-filter-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    padding: 1.6rem 2.1rem;
}

.people-filter {
    background-color: var(--block-accent-color-210);
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    width: 100%;
    transition: 0.2s;
    z-index: 9;
    border-radius: 1rem;
    color: var(--main-accent-color);
}

.people-filter__choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.people-filter-popup-li {
    display: flex;
    width: 100%;
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--else-text-color-50);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    font-size: var(--font-size-2);
    gap: 0.39rem;
    font-weight: 600;
}

.people-filter-popup-li span {
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

.people-filter-popup-li:hover {
    background-color: var(--block-accent-color-06);
}

.people-filter-popup-li input[type='radio'] {
    display: none;
}

.people-filter-popup-li:has([type='radio']:checked) {
    color: var(--main-accent-color);
    background-color: var(--block-accent-color-210);
    box-shadow: var(--shadow-small);
}

.people-filter-mobile {
    align-items: center;
    position: relative;
    display: none;
    margin-bottom: 2.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.people-filter-mobile .people-filter__choice {
    flex-direction: row;
}

.people-filter-mobile.show {
    padding-right: 20.7316rem;
}

.people-filter-mobile .people-filter-mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--main-accent-color);
    z-index: 12;
    background-color: var(--block-color);
    padding: 1rem 2.6rem;
    border-radius: 2rem;
    transition: 0.2s;
}

.people-filter-mobile .people-filter-mobile-info:hover {
    gap: 1.2rem;
}

.people-filter-mobile .people-filter-mobile-info.show {
    gap: 1.2rem;
    box-shadow: var(--shadow-popup);
}

.people-filter-mobile .div-line {
    height: 4rem;
    width: 1px;
}

.people-filter-mobile svg {
    fill: var(--main-accent-color);
}

.people-filter-popup-mobile {
    position: absolute;
    display: flex;
    background-color: var(--block-color);
    border-radius: 2rem;
    overflow: hidden;
    z-index: 11;
    visibility: hidden;
    animation: hidePopupWallFilterMobile 0.2s;
}

.people-filter-popup-mobile.show {
    animation: showPopupWallFilterMobile 0.2s;
    visibility: visible;
}

@keyframes showPopupWallFilterMobile {
    from {
        opacity: 0;
        transform: translate(-100%, 0%);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes hidePopupWallFilterMobile {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(-100%, 0);
        opacity: 0;
    }
}

.people-filter-popup-li-mobile {
    display: block;
    width: 100%;
    padding: 0 2.6rem;
    line-height: 4rem;
    text-transform: none;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    min-height: 4rem;
    color: var(--else-text-color-50);
}

.people-filter-popup-li-mobile:first-child {
    padding-left: calc(14.9217rem + 1.6rem);
}

.people-filter-popup-mobile.all .people-filter-popup-li-mobile:first-child {
    padding-left: calc(10.8733rem + 1.6rem);
}

.people-filter-popup-li-mobile:hover {
    background-color: var(--block-accent-color-06);
}

.people-filter-popup-li-mobile input[type='radio'] {
    display: none;
}

.people-filter-popup-li-mobile:has([type='radio']:checked) {
    color: var(--main-accent-color);
    background-color: var(--block-accent-color-210);
}

.blossom-status {
    font-weight: 600;
    font-size: var(--font-size-2);
    background: linear-gradient(-135deg, var(--posts-color), var(--likes-color), var(--comments-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    margin-left: auto;
    gap: 0.39rem;
    display: flex;
}

.blossom-status span {
    font-weight: 600;
    background: linear-gradient(-135deg, var(--posts-color), var(--likes-color), var(--comments-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blossom-status img {
    border-radius: 0;
    max-width: 16px;
    max-height: 16px;
    min-height: 16px;
    min-width: 16px;
}

.user-in-top {
    margin-top: 2.6rem;
}

.user-in-top-info {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: 1rem 1.6rem;
    background-color: var(--block-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-small);
    font-size: var(--font-size-2);
    font-weight: 600;
    cursor: pointer;
}

.user-in-top-info svg {
    fill: var(--else-text-color-50);
    opacity: 1;
    transition: 0.2s;
    margin-left: auto;
    min-height: 11px;
    max-height: 11px;
}

.user-in-top-info:hover {
    background-color: var(--block-accent-color-06);
}

.user-in-top-info>div {
    gap: 0.39rem;
    display: flex;
    flex-direction: column;
}

.user-in-top.mobile {
    margin-bottom: 1.6rem;
    display: none;
}

.user-in-top span:first-child {
    max-width: max-content;
    background: linear-gradient(-135deg, var(--posts-color), var(--likes-color), var(--comments-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-in-top span:last-child {
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

.people__top-users .user svg {
    position: absolute;
    top: 1.1rem;
    left: 2.1rem;
}

.friends-title {
    color: var(--else-text-color-50);
    margin-bottom: 1.6rem;
    font-size: var(--font-size-3);
    display: block;
}

.friends-title.link {
    margin: 0;
}

.friends-title.link:hover {
    opacity: 80%;
}

.request_to-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    align-items: center;
}

.open-requests-page {
    font-size: var(--font-size-2);
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    transition: 0.2s;
}

.open-requests-page:hover {
    background-color: var(--block-accent-color-06);
}

.open-requests-page svg {
    fill: var(--else-text-color-50);
    opacity: 1;
    transition: 0.2s;
    margin-left: auto;
    min-height: 11px;
    max-height: 11px;
}

.users-requests {
    margin-bottom: 2.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--main-text-color);
}

.users-requests .other-user-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.users-requests .other-user-avatar:hover {
    opacity: 80%;
}

.users-requests .status {
    position: absolute;
    top: calc(3.3rem + 1rem);
    left: calc(3.4rem + 1.6rem);
    transform: rotate(4deg);
    min-height: 19px;
    max-height: 19px;
    min-width: 19px;
    max-width: 19px;
}

.request-from-user {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    padding: 1rem 1.6rem;
    border-radius: 2rem;
    flex-basis: 25%;
}

.only-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.request-from-user .user-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: var(--font-size-1);
    cursor: pointer;
    color: var(--else-text-color-50);
}

.request-from-user .user-info p:first-child {
    font-size: var(--font-size-2);
    color: var(--main-text-color);
    font-weight: 600;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15rem;
}

.request-from-user .user-info p {
    transition: 0.2s;
}

.request-from-user .user-info p:hover {
    opacity: 80%;
}

.request-from-user svg {
    fill: var(--else-text-color-50);
    margin-left: 1.6rem;
}

.answer-to-requests {
    display: flex;
    position: relative;
    gap: 0.4rem;
    font-size: var(--font-size-1);
}

.answer-to-requests-li {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    color: var(--main-accent-color);
    background-color: var(--block-accent-color-210);
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: 0.2s;
    min-width: max-content;
    width: 100%;
    cursor: pointer;
}

.answer-to-requests-li.unrequest {
    background-color: var(--like-button-accent-color);
    padding: 0;
    min-width: 3.3rem;
    min-height: 3.3rem;
    max-width: 3.3rem;
}

.answer-to-requests-li.unrequest svg {
    fill: var(--error-accent-color);
    margin: 0;
    width: 10px;
    height: 10px;
}

.answer-to-requests-li:hover {
    opacity: 80%;
}

.answer-to-requests-li.request svg {
    fill: transparent;
    stroke: var(--main-accent-color);
    margin: 0;
    width: 13px;
    height: 10px;
}

.people__top-users>p:first-child,
.people__users>p:first-child {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin-bottom: 2.6rem;
}

.people__users>p:first-child span {
    color: var(--else-text-color-50);
    margin-left: 1rem;
}

.see-all-requests {
    background-color: var(--block-color);
    border-radius: 2rem;
    box-shadow: var(--shadow-small);
    padding: 1rem 1.6rem;
    font-size: var(--font-size-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.2s;
    gap: 4.1rem;
    color: var(--main-accent-color);
}

.see-all-requests:hover {
    background-color: var(--block-accent-color-06);
}

.see-all-requests span {
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--else-text-color-50);
}

.see-all-requests svg {
    fill: var(--else-text-color-50);
    align-self: center;
}

.see-all-requests>div {
    display: flex;
    flex-direction: column;
    gap: 0.39rem;
}

.see-all-requests-icon-div {
    background-color: transparent;
    align-self: center;
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--font-size-2);
    color: var(--else-text-color-50);
    gap: 0.625rem;
}

.see-all-requests-icon-div:hover {
    background-color: var(--block-accent-color-06);
}

.see-all-requests-icon {
    fill: var(--else-text-color-50);
    margin: 0;
    width: 10px;
    height: 10px;
}

@media (max-width: 1320px) {
    .third-part {
        display: none;
    }

    .user-in-top.mobile {
        display: flex;
    }

    .people-filter-mobile {
        display: flex;
    }

    .people-filter-popup-li {
        max-width: max-content;
    }

    .user-in-top {
        margin: 0 0 0 2.6rem;
    }

    .current-user-info p:first-child {
        max-width: calc(100vw - 25rem - 5rem - 2.6rem - 2.6rem*2 - 75px - 1.6rem*2 - 15rem);
    }
}

@media (max-width: 920px) {
    main {
        padding: 0;
    }

    .blossom-status {
        font-size: var(--font-size-1);
    }
}

@media (max-width: 820px) {
    .first-part {
        display: none;
    }

    .friends__users {
        min-height: calc(100vh - 7.2rem*2 - 2.6rem*2);
    }

    .first-part:has(#people-filter-all:checked)+.second-and-third-parts #users-filter-all,
    .first-part:has(#people-filter-top:checked)+.second-and-third-parts #users-filter-top {
        display: none;
    }

    .second-and-third-parts .second-part:has(#people-filter-all-mobile:checked) #users-filter-all,
    .second-and-third-parts .second-part:has(#people-filter-top-mobile:checked) #users-filter-top {
        display: block;
    }

    .current-user-info p:first-child {
        max-width: calc(100vw - 5rem - 2.6rem*2 - 75px - 1.6rem*2 - 15rem);
    }
}

@media (max-width: 720px) {
    :root {
        --font-size-3: 1.6rem;
        --font-size-4: 2.4rem;
    }

    header {
        justify-content: space-between;
        gap: 2.6rem;
    }

    .people__current-user .other-user-avatar,
    .user .other-user-avatar {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        border-radius: 2.5rem;
    }

    .current-user-info p.rampus img {
        max-width: 14px;
        max-height: 14px;
        min-height: 14px;
        min-width: 14px;
    }

    .friend-status {
        max-width: 24px;
        min-width: 24px;
    }

    .people-filter-mobile svg {
        max-height: 10px;
        min-height: 10px;
    }

    .people-filter-mobile.show {
        padding-right: 18.4934rem;
    }

    .people-filter-popup-li-mobile:first-child {
        padding-left: calc(13.3833rem + 1.6rem);
    }

    .people-filter-popup-mobile.all .people-filter-popup-li-mobile:first-child {
        padding-left: calc(10.1417rem + 1.6rem);
    }

    .people__top-users .user svg {
        max-width: 24px;
        max-height: 24px;
    }

    .counter-top {
        max-width: 24px;
        min-width: 24px;
        max-height: 24px;
        min-height: 24px;
    }

    .current-user-info p:first-child {
        max-width: calc(100vw - 5rem - 2.6rem*2 - 50px - 1.6rem*2 - 10rem);
    }

    .current-user-info .status {
        top: calc(3.3rem + 1.6rem);
        left: calc(3.4rem + 2.6rem);
        min-height: 19px;
        max-height: 19px;
        min-width: 19px;
        max-width: 19px;
    }

    .request-from-user {
        flex-grow: 1;
    }
}

@media (max-width: 580px) {
    .profile__user-info .answer-to-request-div {
        margin-top: 1.6rem;
    }

    .user {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .people-filter-popup-li span {
        display: none;
    }

    .user-in-top span:last-child {
        display: none;
    }

    .blossom-status span:last-child {
        display: none;
    }

    .request-from-user {
        width: 100%;
    }

    .current-user-info p:first-child {
        max-width: calc(100vw - 1.6rem - 2.6rem*2 - 50px - 1.6rem*2 - 8rem);
    }

    .user {
        padding: 1rem 1.6rem;
    }

    .people__top-users .user svg {
        top: 0.5rem;
        left: 1.1rem;
    }

    .current-user-info .status {
        top: calc(3.3rem + 1rem);
        left: calc(3.4rem + 1.6rem);
    }

    .people__top-users > p:first-child, .people__users > p:first-child {
        margin-left: 1.6rem;
    }

    .friends__users > p:first-child {
        margin-left: 1.6rem;
    }

    .friends-title.link {
        margin-left: 1.6rem;
    }
}