:root {
    --background-color: #FBFBFB;
    --block-color: #FFFFFF;
    --main-text-color: #020202;
    --else-text-color-50: #ACACAC;
    --else-text-color-33: #CCCCCC;
    --main-accent-color: #31A05E;
    --else-accent-color-1: #E3DFFF;
    --else-accent-color-2: #F7D488;
    --error-accent-color: #FF220C;
    --block-accent-color-110: #E6E6E6;
    --block-accent-color-06: #F0F0F0;
    --block-accent-color-210: #EFF5F2;
    --like-button-accent-color: #FF220C10;
    --shadow-big: 0 0 15px #02020207;
    --shadow-small: 0 0 12px #02020205;
    --shadow-popup: 0 0 9px #02020211;

    font-size: 62.5%;
    height: 100%
}

.wall__user-posts {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.6rem;
}

.wall__user-posts .user-post {
    width: 100%;
    background-color: var(--block-color);
    box-shadow: var(--shadow-small);
    border-radius: 2rem;
    padding: 1.6rem 2.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: default;
}

.user-post .three-dots-popup {
    font-size: var(--font-size-1);
    border-radius: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.6rem;
    right: calc(2.6rem + 28px + 0.625rem);
    visibility: hidden;
    animation: hidePopup 0.2s;
    box-shadow: var(--shadow-popup);
    z-index: 50;
    background-color: var(--block-color);
    overflow: hidden;
    padding: 0.625rem;
}

.user-post .three-dots-popup.show {
    visibility: visible;
    animation: showPopup 0.2s;
}

@keyframes showPopup {
    from {
        opacity: 0;
        transform: scale(0%) translate(50%, -50%);
    }

    to {
        opacity: 1;
        transform: scale(100%) translate(0, 0);
    }
}

@keyframes hidePopup {
    from {
        opacity: 1;
        transform: scale(100%) translate(0, 0);
    }

    to {
        opacity: 0;
        transform: scale(0%) translate(50%, -50%);
    }
}

.user-post .three-dots-popup .three-dots-popup-li {
    display: block;
    width: 100%;
    padding: 1rem 1.6rem;
    border-radius: calc(1rem - 0.625rem);
    color: var(--main-text-color);
    text-transform: none;
    background-color: var(--block-color);
    cursor: pointer;
    transition: 0.2s;
}

/* .user-post .three-dots-popup .three-dots-popup-li:first-child {
    padding-top: 1.6rem;
}

.user-post .three-dots-popup .three-dots-popup-li:last-child {
    padding-bottom: 1.6rem;
} */

.user-post .three-dots-popup .three-dots-popup-li.delete-post {
    color: var(--error-accent-color);
}

.user-post .three-dots-popup .three-dots-popup-li:hover {
    background-color: var(--block-accent-color-06);
}

.user-post .three-dots-popup .three-dots-popup-li.delete-post:hover {
    background-color: var(--like-button-accent-color);
}

.user-post p {
    margin: 1.6rem 0 0 0;
    line-height: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.user-post p.main-text {
    line-height: 125%;
}

.user-post p.comment-text {
    font-size: var(--font-size-2);
}

.user-post p a {
    color: var(--main-accent-color);
    line-height: 125%;
    font-size: var(--font-size-2);
}

.user-post>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wall__new-post {
    display: flex;
}

.wall__new-post form,
.wall__comments form {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
    position: relative;
    border: 1px solid var(--else-text-color-33);
    border-radius: 2rem;
    width: 100%;
    transition: 0.2s 0.2s;
}

.wall__new-post button,
.wall__comments button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    margin: 0;
    opacity: 0;
    transform: scale(50%);
    pointer-events: none;
    transition: 0.2s;
}

.wall__new-post button.active,
.wall__comments button.active {
    right: calc(-25px - 1rem);
    transition: 0.2s 0.2s;
    transform: scale(100%);
    opacity: 1;
    pointer-events: all;
}

#textarea-post,
.textarea-comment {
    width: 100%;
    min-height: 4rem;
    max-height: 30rem;
    outline: none;
    background-color: transparent;
    padding: 1.25rem 2.6rem;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
    scrollbar-width: none;
    overflow-y: auto;
    font-size: var(--font-size-1);
}

#textarea-post {
    padding-left: calc(1.6rem + 18px + 1rem);
}

.wall__new-post:has(button.active) form {
    margin-right: calc(25px + 1.6rem + 1rem);
    transition: 0.2s;
}

.wall__comments:has(button.active) form {
    margin-right: calc(25px + 1rem);
    transition: 0.2s;
}

#textarea-post::-webkit-scrollbar,
.textarea-comment::-webkit-scrollbar {
    width: 0;
}

.wall__new-post form:has(#textarea-post:focus),
.wall__comments form:has(.textarea-comment:focus) {
    border: 1px solid var(--else-text-color-50);
}

#textarea-post_label,
.textarea-comment_label {
    font-size: var(--font-size-1);
    line-height: var(--font-size-1);
    color: var(--else-text-color-50);
    position: absolute;
    left: 2.7rem;
    top: 1.35rem;
    cursor: text;
    pointer-events: none;
}

#textarea-post_label {
    left: calc(1.6rem + 18px + 1rem);
}

#textarea-post_input,
.textarea-comment_input {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.wall__comments .current-user img:last-child {
    max-width: none;
    max-height: none;
    margin: 0;
    border-radius: 0;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}

.third-part-in-header {
    width: 33%;
    display: none;
    position: relative;
}

.third-part>div {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    /* margin-top: 6.6rem; */
}

.third-part-in-header div {
    width: 100%;
    flex-direction: column;
}

.third-part input,
.third-part-in-header input {
    width: 100%;
    min-height: 4rem;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--else-text-color-33);
    padding: 0 2.6rem 0 calc(19px + 1.6rem + 1rem);
    margin: 0;
}

.third-part input::placeholder,
.third-part-in-header input::placeholder {
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
}

.third-part ul,
.third-part-in-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.6rem;
}

.third-part-in-header ul {
    display: flex;
    visibility: hidden;
    position: absolute;
    background-color: var(--block-color);
    box-shadow: var(--shadow-popup);
    border-radius: 2rem;
    top: 6.6rem;
    max-width: max-content;
    padding: 1.6rem;
    width: 100%;
    animation: hidePopup 0.2s;
    color: var(--main-text-color);
}

.third-part-in-header ul.focus {
    visibility: visible;
    animation: showPopup 0.2s;
}

.third-part li a {
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    display: flex;
    font-size: var(--font-size-2);
}

.third-part-in-header li {
    border-radius: 2rem;
    padding: 1.35rem 1.6rem;
    display: flex;
    background-color: var(--block-accent-color-06);
    transition: 0.2s;
}

.third-part-in-header li a {
    color: var(--else-text-color-50);
}

.third-part li a:hover {
    background-color: var(--block-accent-color-06);
}

.third-part div>div,
.third-part-in-header div {
    position: relative;
}

.third-part div>div img,
.third-part-in-header div img {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
}

.wall__user-info {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    position: relative;
}

.wall__user-info img:first-child {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 2.5rem;
    margin: 0;
    object-fit: cover;
}

.wall__user-info img:last-child {
    margin: 0;
    max-width: 19px;
    max-height: 19px;
    min-height: 19px;
    min-width: 19px;
    position: absolute;
    top: 3.3rem;
    left: 3.4rem;
    transform: rotate(4deg);
}

.wall__user-info div {
    display: flex;
    flex-direction: column;
    gap: 0.39rem;
}

.wall__user-info p {
    margin: 0;
    font-weight: 600;
}

.wall__user-info span {
    font-size: var(--font-size-1);
    color: var(--main-accent-color);
    text-transform: lowercase;
}

.wall__comments .current-user {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-top: 1.6rem;
}

.wall__comments .current-user img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 2rem;
    margin: 0;
    object-fit: cover;
}

.wall__comments .other-users img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 2rem;
    margin: 0;
    object-fit: cover;
}

.wall__comments .other-users .user-comment {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 1rem;
    margin: 1rem 0;
}

.wall__comments .other-users {
    margin: 1.6rem 0 2.1rem;
    padding-left: 1.6rem;
}

.wall__comments .other-users .user-comment:first-child {
    margin: 1.6rem 0 1rem;
}

.wall__comments .other-users p {
    margin: 0;
}

.user-post .first-and-second-names {
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--main-text-color);
    cursor: pointer;
}

.wall__user-info .first-and-second-names {
    font-size: var(--font-size-3);
}

.user-post .first-and-second-names.rampus {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--main-accent-color);
}

.user-post .first-and-second-names.user-from-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-post .first-and-second-names.rampus img,
.user-post .first-and-second-names.user-from-top img {
    max-width: 16px;
    max-height: 16px;
    min-height: 16px;
    min-width: 16px;
}

.user-post .first-and-second-names:hover {
    opacity: 80%;
}

.wall__comments .other-users .date {
    font-weight: 400;
    font-size: var(--font-size-1);
    color: var(--else-text-color-50);
    text-transform: lowercase;
    min-width: max-content;
    transition: 0.2s;
    opacity: 0;
}

.wall__comments .other-users .date.mobile {
    display: none;
}

.wall__comments .other-users .user-comment:hover .date,
.wall__comments .other-users .user-comment:hover .delete-comment {
    opacity: 1;
}

.wall__comments .other-users .delete-comment {
    opacity: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 28px;
    max-height: 28px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 0;
}

.wall__comments .other-users .delete-comment svg {
    fill: var(--else-text-color-50);
    margin: 0;
    width: 10px;
    height: 10px;
    transition: 0.2s;
}

.wall__comments .other-users .delete-comment:hover {
    background-color: var(--like-button-accent-color);
}

.wall__comments .other-users .delete-comment:hover svg {
    fill: var(--error-accent-color);
}

.user-comment .comment-div {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-top: 0.39rem;
    width: 100%;
}

.user-comment .comment-div div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.wall__comments .other-users .div-line {
    margin-left: 5rem;
    width: auto;
}

#checked {
    order: -1;
}

#checked a {
    background-color: var(--block-accent-color-210);
    box-shadow: var(--shadow-small);
    color: var(--main-accent-color);
}

.wall__comments .other-users .see-all-comments {
    margin-top: 2.1rem;
    font-size: var(--font-size-1);
    cursor: pointer;
    color: var(--main-accent-color);
    transition: 0.2s;
    max-width: max-content;
}

.wall__comments .other-users .see-all-comments:hover {
    opacity: 80%;
}

.wall__comments .other-users .user-comment.hide {
    display: none;
}

.wall__comments .other-users .div-line.hide {
    display: none;
}

.wall-filter-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    padding: 1.6rem 2.1rem;
}

.wall-filter {
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    width: 100%;
    transition: 0.2s;
    z-index: 9;
    border-radius: 1rem;
    color: var(--main-accent-color);
}

.wall-filter__choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.wall-filter-popup-li {
    display: flex;
    width: 100%;
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    gap: 0.39rem;
    justify-content: center;
    color: var(--else-text-color-50);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    font-size: var(--font-size-2);
    font-weight: 600;
}

.wall-filter-popup-li span {
    color: var(--else-text-color-50);
    font-size: var(--font-size-1);
    font-weight: 400;
}

.wall-filter-popup-li:hover {
    background-color: var(--block-accent-color-06);
}

.wall-filter-popup-li.no-friends {
    pointer-events: none;
    color: var(--else-text-color-50);
}

.wall-filter-popup-li input[type='radio'] {
    display: none;
}

.wall-filter-popup-li:has([type='radio']:checked) {
    color: var(--main-accent-color);
    background-color: var(--block-accent-color-210);
    box-shadow: var(--shadow-small);
}

.first-part:has(#wall-filter-all:checked)+.second-and-third-parts #posts-filter-all,
.first-part:has(#wall-filter-friends:checked)+.second-and-third-parts #posts-filter-friends {
    display: block;
}

.wall-filter-mobile {
    align-items: center;
    position: relative;
    display: none;
    margin-top: 2.6rem;
    width: 100%;

}

.wall-filter-mobile .wall-filter__choice {
    flex-direction: row;
}

.no-found {
    font-size: var(--font-size-1);
    color: var(--error-accent-color);
    background-color: var(--like-button-accent-color);
    padding: 1rem 1.6rem;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    cursor: default;
}

#icon-search-hashtag {
    fill: var(--else-text-color-50);
    position: absolute;
    left: 1.6rem;
    top: calc((4rem - 19px)/2);
    cursor: pointer;
    max-width: 19px;
    max-height: 19px;
}

#post-image {
    position: absolute;
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

.post-image-icon {
    position: absolute;
    left: calc(1.6rem - 9px/2);
    top: calc((4rem - 28px) / 2);
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.post-image-icon:hover {
    background-color: var(--block-accent-color-06);
}

.post-image-icon svg {
    max-height: 19px;
    max-width: 19px;
    fill: var(--else-text-color-50);
}

#current-post-image {
    object-fit: cover;
    height: 100px;
    border-radius: calc(2rem - 1.6rem);
    transition: 0.2s;
}

#textarea-post.image-uploaded {
    margin-bottom: calc(1.6rem + 100px + 1rem);
}

.current-post-image-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: calc(4rem + 1rem); */
    bottom: calc(1.6rem);
    left: 1.6rem;
}

.post-image-delete {
    position: absolute;
    background-color: transparent;
    border-radius: 1rem;
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

.current-post-image-div:hover img {
    opacity: 80%;
}

.post-image-delete svg {
    transition: 0.2s;
}

.current-post-image-div:hover .post-image-delete {
    background-color: var(--block-accent-color-06);
}

.current-post-image-div:hover .post-image-delete:hover {
    background-color: var(--error-accent-color);
}

.current-post-image-div:hover .post-image-delete svg {
    fill: var(--else-text-color-50);
}

.current-post-image-div:hover .post-image-delete:hover svg {
    fill: var(--block-color);
}

@media (max-width: 1320px) {
    .third-part-in-header {
        display: flex;
    }

    .third-part {
        display: none;
    }

    header {
        justify-content: left;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }

    header div:last-child {
        margin-left: auto;
    }

    .wall-filter-mobile {
        display: flex;
    }

    .wall-filter-popup-li {
        max-width: max-content;
    }

    .wall__user-posts {
        margin-top: 1.6rem;
    }
}

@media (max-width: 920px) {
    main {
        padding: 0;
    }

    header {
        gap: 2.6rem;
    }
}

@media (max-width: 820px) {
    .first-part {
        display: none;
    }

    .first-part-mobile {
        display: block;
        z-index: 3;
    }

    .first-part:has(#wall-filter-all:checked)+.second-and-third-parts #posts-filter-all,
    .first-part:has(#wall-filter-friends:checked)+.second-and-third-parts #posts-filter-friends {
        display: none;
    }

    .second-and-third-parts .second-part:has(#wall-filter-all-mobile:checked) #posts-filter-all,
    .second-and-third-parts .second-part:has(#wall-filter-friends-mobile:checked) #posts-filter-friends {
        display: block;
    }

    .wall__comments .other-users .user-comment .date {
        display: none
    };

    .wall__comments .other-users .user-comment .date.mobile {
        display: block;
    };

    .wall__comments .other-users .user-comment .date,
    .wall__comments .other-users .user-comment .delete-comment {
        opacity: 1;
    }

    header div:last-child {
        margin-left: 0;
    }

    .third-part-in-header {
        width: 100%;
    }
}

@media (max-width: 720px) {
    :root {
        --font-size-2: 1.6rem
    }

    .wrapper {
        max-width: calc(100% - 5rem);
    }

    header {
        justify-content: space-between;
    }

    .third-part-in-header li a {
        display: block;
    }

    .wall__comments .other-users .user-comment {
        margin: 1rem 0;
    }

    .wall__comments .other-users .user-comment:first-child {
        margin: 1.6rem 0 1rem;
    }

    .wall__comments .current-user {
        margin-top: 1.6rem;
    }

    .wall__comments .other-users {
        margin: 1.6rem 0 2.6rem;
        padding-left: 1rem;
    }

    .user-post img {
        margin-top: 0.4rem;
    }

    .wall__user-info img {
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        border-radius: 2rem;
        margin: 0;
    }

    .wall__user-info {
        gap: 1rem;
    }

    .wall__comments .other-users .user-comment {
        gap: 1rem;
    }

    .user-post .first-and-second-names.rampus img,
    .user-post .first-and-second-names.user-from-top img {
        max-width: 14px;
        max-height: 14px;
        min-height: 14px;
        min-width: 14px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        max-width: calc(100% - 3.2rem);
    }

    .wall-filter-popup-li span {
        display: none;
    }
}