RewriteEngine on

RewriteCond %{HTTP:X-Forwarded-Proto} =https [OR]
RewriteCond %{HTTP:CF-Visitor} '"scheme":"https"' [OR]
RewriteCond %{HTTPS} on
RewriteRule ^ - [E=HTTPS:on]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteRule ^post/([0-9]+)/?$ current-post.php?postid=$1 [L,QSA]
RewriteRule ^user/([\w-]+)/?$ other-user-profile.php?username=$1 [L,QSA]
RewriteRule ^user/([\w-]+)/friends/?$ other-user-friends.php?username=$1 [L,QSA]
RewriteRule ^chat/([\w-]+)/?$ chat-with-user.php?username=$1 [L,QSA]

RedirectMatch 404 /\.git
RedirectMatch 404 /\.env
RedirectMatch 404 /\.htaccess
RedirectMatch 404 /\back-files